<div class=" h-100">
    <div class="d-flex h-100">
        <div class="item border-end h-100 bg-login">
            <section class="left d-flex flex-column h-100 justify-content-center section-bg pb-7">
                <h1>CRM</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque voluptatem dignissimos eum fugit illo
                    cumque architecto labore tempore molestias possimus eaque quasi maxime, inventore voluptate facilis
                    accusamus doloribus dolorem fuga?</p>
                <section class="get-started">
                    <p>Don't have an accout
                        <br>
                        <a [routerLink]="urls.SIGNUP_URL">Get Started</a>
                    </p>
                </section>
            </section>

        </div>
        <div class="item h-100">
            <router-outlet />
        </div>
    </div>
</div>