table{
    font-size: 13px;
}
.alert{
    padding-top:5px;
    padding-bottom:5px;
}

.export-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.thead{
    background-color: greenyellow;
    th{
        border-bottom: 1px solid black;
        padding: 5px;
    }
    td{
        border-bottom: 1px solid black;
        padding: 5px;
    }
}

.tbody td{
    border-bottom: 1px solid black;
    padding: 5px;
}

.modal-backdrop {
    background-color: rgba(0,0,0,.50) !important;
}

.fs-20{
    font-size:20px;
    margin-left: 10px;
}

.modal-dialog.group{
    max-width: 75%;
}
.contacts{
    max-height: 50vh;
    overflow-y: scroll;
}
.contacts th {
    position: sticky;
    top: 0px;  /* 0px if you don't have a navbar, but something is required */
}

.form-check{
    width: 1.5em;
    height: 1.5em;
}