<section class="login-container h-100">
    <h2 class="mb-3 text-center">Sign Up</h2>
    <form>
        <div class="mb-3 mb-3">
            <label>First Name</label>
            <input class="form-control" type="text" placeholder="First Name">
        </div>
        <div class="mb-3 mb-3">
            <label>Last Name</label>
            <input class="form-control" type="text" placeholder="Last Name">
        </div>
        <div class="mb-3 mb-3">
            <label>Email</label>
            <input class="form-control" type="text" placeholder="Email">
        </div>
        <div class="mb-3 mb-3">
            <label>Password</label>
            <input class="form-control" type="password" placeholder="******">
        </div>
        <div class="mb-3 d-grid gap-2">
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
</section>