.fs-20{
    font-size: 20px;
    margin-right: 5px;
}
table{
    font-size: 14px;
}
th{
    vertical-align: top;
}
.modal-dialog.group{
    max-width: 75%;
}
.template{
    max-height: 75vh;
    overflow-y: auto;
    font-size: 14px;
}
.alert{
    padding: 5px 10px;
}